{% load staticfiles %}


<html>
   <head>
      <link rel="stylesheet" type="text/css" href="{% static '/css/app.css' %}">
   </head>
   <body>
        <h2>EC2 instances</h2>
   {% for id in instanceIds %}
   <h3>{{id}}</h3>
      <h3>{{state}}</h3>
         {% endfor %}
   </body>
</html>